*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
}

body {
  line-height: 1.5;
  -webkit-font-smoothing: antialiased;
  background-color: #3d3d3d;
  font-size: 30px;
  font-family: "Nabla", system-ui;
}

img,
picture,
video,
canvas,
svg {
  display: block;
  max-width: 100%;
}

input,
button,
textarea,
select {
  font: inherit;
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
  overflow-wrap: break-word;
}

#fullpage {
  max-width: 1400px;
  margin: auto;
}

#navigation-wrapper {
  width: 100%;
  margin-top: 20px;
  position: absolute;
  display: flex;
  justify-content: space-around;
  align-items: center;
  z-index: 2;
}

.section-title {
  position: absolute;
  top: 2rem;
  left: 50%;
  transform: translate(-50%);
}

.logo {
  border-radius: 50%;
  width: 50px;
  height: 50px;
  background-position: center;
  background-size: cover;
  background-image: url("/images/logo2.jpg");
}

.logo:hover {
  cursor: pointer;
}

.navigation-box {
  margin-right: 150px;
  width: 80%;
  display: flex;
  justify-content: end;
  gap: 50px;
  align-items: center;
  color: white;
  list-style: none;
}

.navigation-links:hover {
  color: black;
  cursor: pointer;
}

.home {
  background-position: center;
  background-size: cover;
  background-image: url("/images/2burgers.jpg");
}

.home-shadow {
  position: absolute;
  height: 100%;
  width: 100%;
  background-color: #00000079;
  z-index: 1;
}

.home-title {
  text-align: center;
  z-index: 1;
}

.about {
  background-position: center;
  background-size: cover;
  background-image: url("/images/bar.jpg");
}

.about-shadow {
  position: absolute;
  height: 100%;
  width: 100%;
  background-color: #000000a8;
  z-index: 0;
}

.about-box {
  margin: auto;
  width: 80%;
  display: flex;
  flex-direction: row;
  gap: 40px;
  z-index: 1;
}

.about-paragrapf {
  padding: 2rem;
  font-size: 1.2rem;
  width: 40%;
  border-radius: 50rem;
  line-height: 2;
}

.about-foto {
  width: 500px;
  height: 500px;
  background-position: center;
  background-size: cover;
  background-image: url("/images/logo2.jpg");
  border-bottom-right-radius: 50%;
  border-bottom-left-radius: 50%;
}

.menu {
  background-color: #000000a0;
}

.menu-wrapper {
  margin: 20px;
  display: inline-flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  align-content: center;
  gap: 30px;
}

.menu-wrapper-item {
  background-color: #462c12;
  padding: 25px;
  display: flex;
  flex-direction: row;
  gap: 30px;
  border: thick double #fff;
  border-top-right-radius: 20%;
  border-bottom-left-radius: 20%;
}

.menu-wrapper-item:hover {
  transform: scale(0.9);
  transition: 0.5s;
}

.menu-wrapper-item-foto {
  margin: auto;
  border: 2px solid #fff;
  width: 75px;
  height: 75px;
}

.menu-wrapper-item-info {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.menu-wrapper-item-title {
  font-size: 20px;
}
.menu-wrapper-item-price {
  font-size: 18px;
}

.contact {
  background-color: #04ff00;
}

#footer {
  background-color: white;
  z-index: 2;
  position: absolute;
  margin-bottom: 0;
  left: 50%;
  transform: translateX(-50%);
}
