*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
}

body {
  line-height: 1.5;
  -webkit-font-smoothing: antialiased;
  font-size: 30px;
  font-family: "Roboto", sans-serif;
  text-transform: uppercase;
  background-color: #3d3d3d;
  color: #fff;
}

img,
picture,
video,
canvas,
svg {
  display: block;
  max-width: 100%;
}

input,
button,
textarea,
select {
  font: inherit;
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
  overflow-wrap: break-word;
}

#fullpage {
  max-width: 1400px;
  margin: auto;
}

#navigation-wrapper {
  width: 100%;
  margin-top: 20px;
  position: absolute;
  display: flex;
  justify-content: space-around;
  align-items: center;
  z-index: 2;
}

.section-title {
  position: absolute;
  top: 2rem;
  left: 50%;
  transform: translate(-50%);
}

.logo {
  border-radius: 50%;
  width: 50px;
  height: 50px;
  background-position: center;
  background-size: cover;
  background-image: url("/images/logo2.jpg");
}

.logo:hover {
  cursor: pointer;
}

.navigation-box {
  margin-right: 150px;
  width: 80%;
  display: flex;
  justify-content: end;
  gap: 50px;
  align-items: center;
  color: white;
  list-style: none;
}

.navigation-links:hover {
  color: #ffa500;
  cursor: pointer;
  transition: all 0.5s;
}

.home {
  background-position: center;
  background-size: cover;
  background-image: url("/images/2burgers.jpg");
}

.home-shadow {
  position: absolute;
  height: 100%;
  width: 100%;
  background-color: #00000079;
  z-index: 1;
}

.home-title-container {
  display: inline-block;
  margin: 0 auto;
  z-index: 1;
}

.home-title {
  text-align: center;
  overflow: hidden;
  border-right: 0.1em solid #ffa500;
  white-space: nowrap;
  letter-spacing: 0.15em;
  animation: typing 3.5s steps(20, end) forwards, blink 0.8s step-end;
}

@keyframes typing {
  from {
    width: 0;
  }
  to {
    width: 100%;
  }
}

@keyframes blink-caret {
  from,
  to {
    border-color: transparent;
  }
  100% {
    border-color: #ffa500;
  }
}

.about {
  background-position: center;
  background-size: cover;
  background-image: url("/images/bar.jpg");
}

.about-shadow {
  position: absolute;
  height: 100%;
  width: 100%;
  background-color: #000000a8;
  z-index: 0;
}

.about-box {
  margin: auto;
  width: 80%;
  display: flex;
  flex-direction: row;
  gap: 40px;
  z-index: 1;
}

.about-paragrapf {
  padding: 2rem;
  font-size: 1.2rem;
  width: 40%;
  border-radius: 50rem;
  line-height: 2;
}

.about-foto {
  width: 500px;
  height: 500px;
  background-position: center;
  background-size: cover;
  background-image: url("/images/logo2.jpg");
  border-bottom-right-radius: 50%;
  border-bottom-left-radius: 50%;
}

.menu {
  background-color: #000000a0;
}

.menu-wrapper {
  margin: 20px;
  display: inline-flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  align-content: center;
  gap: 30px;
}

.menu-wrapper-item {
  height: 150px;
  width: 350px;
  padding: 25px;
  display: flex;
  background-color: #462c12;
  border: thick double #fff;
  border-top-right-radius: 20%;
  border-bottom-left-radius: 20%;
}

.menu-wrapper-item:hover {
  cursor: pointer;
}

.menu-wrapper-item-foto {
  margin-right: 30px;
  border: 2px solid #fff;
  width: 75px;
  height: 75px;
}

.menu-wrapper-item-info {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.menu-wrapper-item-title {
  font-size: 20px;
}
.menu-wrapper-item-price {
  font-size: 18px;
}

.contact {
  background-color: #000000a0;
}

.contact-container {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 20px;
}

.contact-container-items {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 20px;
  padding: 20px;
  width: 350px;
  height: 350px;
  background: linear-gradient(217deg, rgba(126, 52, 52, 0.811), rgba(255,0,0,0) 70.71%),
            linear-gradient(127deg, rgba(47, 102, 47, 0.8), rgba(0,255,0,0) 70.71%),
            linear-gradient(336deg, rgba(24, 24, 62, 0.8), rgba(0,0,255,0) 70.71%);
  border: 3px solid #fff;
  border-radius: 10%;
}

.contact-container-items:hover {
  scale: 0.9;
  transition: scale 0.5s;
}

.contact-container-items-desc {
  text-align: center;
  font-size: medium;
}

.contact-container-items-foto {
  width: 200px;
  height: 150px;
}

#footer {
  padding: 50px 0;
  width: 100%;
  max-width: 1400px;
  text-align: center;
  background-color: #000000a0;
  z-index: 1;
  position: absolute;
  margin-bottom: 0;
  left: 50%;
  transform: translateX(-50%);
}
